html
  head
    link(rel="stylesheet", href="/src/styles/email.css", data-inline)
  body
    p Hi #{firstName},
    p Welcome to Our Voice!  Your account has been created and you may now login.
     br
     | Visit the
     |  
     a(href=website) website
     |  to begin voting on features.
    p Thanks
